.dev {
   padding: var(--section-gap) 0;
}

.dev__body {
    display: flex;
    background: rgba(19, 61, 141, 0.15);
    padding: 60px;
}

.dev__content {
    max-width: 387px;
    margin-right: 60px;

}

.dev__button {
    padding: 8px 12px 5px 12px;
    background-color: var(--accent);
    margin-bottom: 40px;
    color: var(--white);
}

.dev__title {
    font-family: HelveticaNeueCyr;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 25px;
}

.dev__item {
    padding-left: 29px;
    position: relative;
    color: #000;
}

.dev__item::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--red);
    top: 5px;
    left: 0;
}

.dev__item:not(:last-child) {
    margin-bottom: 20px;
}


.dev__btn {
    position: absolute;
    
}

.dev__btn--left {
    left: 0;
}

.dev__btn--right {
    right: 0;
}


@media (max-width: 1400px) {
    .dev__img {
        flex-shrink: 0;
    }
    
}

@media (max-width: 1070px) {
   .dev__body  {
        flex-direction: column;
   }

   .dev__content {
        max-width: 100%;
        margin-bottom: 35px;
        margin-right: 0;
   }

   .dev__img img {
        margin: 0 auto;
   }
    
}

@media (max-width: 600px) {
    .dev__img img {
        margin: 0;
   }

   .dev__body {
        padding: 30px;
   }

}

@media (max-width: 470px) {
    .dev__img {
        display: none;
    }

    .dev__item {
        padding-left: 15px;
    }

    .dev__item:not(:last-child) {
        margin-bottom: 12px;
    }
}